@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face {
    font-family: Aparajita, serif;
    src: url(../source/fonts/aparaj.ttf) format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #464646;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    min-height: 100vh;
    min-width: 320px;
    overflow: hidden;

}

main {
    flex-grow: 1;
}

footer {
    flex-grow: 0;
}

.wrapper-inner {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}



/****************************** Header ***************************************/



.header-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    display: block;
    width: 153px;
    margin: 0 15px 0 0;
}

.logo img {
    width: 100%;
}

.header-links {
    flex-grow: 1;
}

.header-controls {
    background: #f6f6f6;
    display: flex;
    justify-content: flex-end;
}

.header-controls a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 115px;
    line-height: 90px;
    background: #05aecc;
    color: #fff;
    margin: 0 0 0 5px;
    letter-spacing: 1px;
}

.header-controls a:nth-of-type(2n) {
    background: #f0626e;
}

.header-controls .to-cart,
.header-controls .to-wishlist {
    width: 142px;
}

.to-cart:after,
.to-wishlist:after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: url(../source/images/icon-cart.png) no-repeat center;
    margin: 0 0 0 10px;
}

.to-wishlist:after {
    background: url(../source/images/icon-gift.png) no-repeat center;
}




/* header-nav************/

.header-links nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    display: inline-block;
    line-height: 40px;
    color: #434343;
    margin: 0 0 0 32px;
    letter-spacing: 1px;
}


/****************************** Header ***************************************/